In [233]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.io as pio

pio.renderers.default = "browser"

In [253]:
leeg21 = pd.read_csv('../data/league_2021.csv')
leeg22 = pd.read_csv('../data/league_2022.csv')
leeg23 = pd.read_csv('../data/league_2023.csv')
leeg24 = pd.read_csv('../data/league_2024.csv')

league = pd.concat([leeg22, leeg23, leeg24])
league.head()

/Users/joycehu/miniforge3/envs/dsc80/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3508: DtypeWarning:

Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
0,ESPORTSTMNT01_2690210,complete,NaN,LCKC,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,121.0,391.0,345.0,14.0,0.0,1.0,0.0,0.0,1.0,0.0
1,ESPORTSTMNT01_2690210,complete,NaN,LCKC,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,100.0,541.0,-275.0,-11.0,2.0,3.0,2.0,0.0,5.0,1.0
2,ESPORTSTMNT01_2690210,complete,NaN,LCKC,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,119.0,-475.0,153.0,1.0,0.0,3.0,0.0,3.0,3.0,2.0
3,ESPORTSTMNT01_2690210,complete,NaN,LCKC,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,149.0,-793.0,-1343.0,-34.0,2.0,1.0,2.0,3.0,3.0,0.0
4,ESPORTSTMNT01_2690210,complete,NaN,LCKC,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,21.0,443.0,-497.0,7.0,1.0,2.0,2.0,0.0,6.0,2.0

# Data Cleaning

In [254]:
# make copy 
pre_cleaning = league.copy()

# binary variable for missing patch
league['patch_missing'] = (league['patch'].isna()).astype(int)

# impute missing patches
patches = {
    '2022-08-11 08:37:33':12.15, 
    '2022-08-12 06:08:39':12.15, 
    '2022-08-12 07:04:40':12.15, 
    '2022-08-12 07:52:33':12.15, 
    '2022-08-12 08:51:49':12.15, 
    '2022-08-12 09:58:13':12.15, 
    '2022-08-13 06:08:31':12.15, 
    '2022-08-13 06:55:35':12.15, 
    '2022-08-13 06:08:31':12.15,
    '2022-08-13 06:55:35':12.15,
    '2022-08-13 07:47:42':12.15,
    '2023-04-05 09:17:28':13.07,
    '2023-04-05 10:18:03':13.07, 
    '2023-04-05 11:23:10':13.07,
    '2023-04-05 12:21:13':13.07,
    '2023-04-05 13:10:18':13.07,
    '2023-05-08 06:12:19':13.09,
    '2023-05-08 07:07:13':13.09,
    '2023-05-08 08:12:21':13.09,
    '2023-05-08 09:06:19':13.09,
    '2023-05-08 10:08:36':13.09,
    '2024-02-21 06:02:57':14.03,
    '2024-02-21 06:56:52':14.03, 
    '2024-02-21 07:43:27':14.03,
    '2024-02-21 08:31:33':14.03, 
    '2024-02-21 09:17:02':14.03
}
league['patch'] = league['patch'].fillna(league['date'])
league['patch'] = league['patch'].replace(patches)
print(league['patch'].unique())

# only have patch 12.10 - present
league = league[(league['patch'] >= 12.10)]

# filter out summary rows 
league = league[(league['participantid'] != 100) & (league['participantid'] != 200)]

# create a binary variable for before and after Patch 13.9
league['post_rework'] = (league['patch'] >= 13.09).astype(int)

# create a binary variable for whether neeko played in the game
league['neeko'] = (league['champion'] == 'Neeko').astype(int)

[12.01 12.02 12.03 12.04 12.05 12.06 12.07 12.08 12.09 12.1  12.11 12.12
 12.13 12.14 12.15 12.16 12.17 12.18 12.19 12.2  12.21 12.23 13.01 13.03
 13.04 13.05 13.06 13.07 13.08 13.09 13.1  13.11 13.12 13.13 13.14 13.15
 13.16 13.17 13.18 13.19 13.2  13.21 13.22 13.24 14.01 14.02 14.03 14.04
 14.05]

# Missingness

In [109]:
league[league['patch'].notna()]['year'].value_counts(normalize=True)

2022    0.467927
2023    0.406535
2024    0.125538
Name: year, dtype: float64

In [110]:
league[league['patch'].isna()]['year'].value_counts(normalize=True)

2023    0.416667
2022    0.375000
2024    0.208333
Name: year, dtype: float64

In [ ]:
gender_dist = (
    heights_mcar
    .assign(child_missing=heights_mcar['child'].isna())
    .pivot_table(index='gender', columns='child_missing', aggfunc='size')
)

# Added just to make the resulting pivot table easier to read.
gender_dist.columns = ['child_missing = False', 'child_missing = True']

gender_dist = gender_dist / gender_dist.sum()
gender_dist

In [213]:
piv = league.pivot_table(index='league', columns='patch_missing', aggfunc='size').fillna(0)
piv

piv = piv / piv.sum()
piv

patch_missing         0         1
league
AL             0.008576  0.000000
CBLOL          0.022236  0.000000
CBLOLA         0.020994  0.000000
CDF            0.005472  0.000000
CT             0.002678  0.000000
DCup           0.005278  0.000000
DDH            0.011448  0.000000
EBL            0.015911  0.000000
EL             0.006830  0.000000
EM             0.010517  0.000000
EPL            0.003337  0.000000
ESLOL          0.023672  0.000000
EUM            0.010361  0.000000
GL             0.010206  0.000000
GLL            0.016531  0.000000
HC             0.012651  0.000000
HM             0.014591  0.000000
IC             0.005743  0.000000
LAS            0.019209  0.000000
LCK            0.044239  0.000000
LCKC           0.034538  0.000000
LCL            0.000621  0.000000
LCO            0.016415  0.000000
LCS            0.024914  0.000000
LCSA           0.020955  0.000000
LDL            0.079359  0.791667
LEC            0.025030  0.000000
LFL            0.022469  0.000000
LFL2           0.020296  0.000000
LHE            0.011720  0.000000
LIT            0.002484  0.000000
LJL            0.021149  0.000000
LJLA           0.005045  0.000000
LLA            0.018860  0.000000
LMF            0.015717  0.000000
LPL            0.070511  0.208333
LPLOL          0.016687  0.000000
LRN            0.004502  0.000000
LRS            0.004618  0.000000
LVP SL         0.022741  0.000000
MSI            0.006054  0.000000
NACL           0.031705  0.000000
NEXO           0.015406  0.000000
NLC            0.023400  0.000000
PCS            0.026427  0.000000
PGC            0.021809  0.000000
PGN            0.013582  0.000000
PRM            0.027126  0.000000
SL (LATAM)     0.009896  0.000000
TAL            0.007955  0.000000
TCL            0.017890  0.000000
UL             0.021615  0.000000
UPL            0.015988  0.000000
VCS            0.030696  0.000000
VL             0.010012  0.000000
WLDs           0.011331  0.000000

In [220]:
league['league'].nunique() / league['patch_missing'].sum()

0.23333333333333334

In [216]:
league.groupby('league')['patch_missing'].sum() / league.groupby('league')['patch_missing'].sum().sum()

league
AL            0.000000
CBLOL         0.000000
CBLOLA        0.000000
CDF           0.000000
CT            0.000000
DCup          0.000000
DDH           0.000000
EBL           0.000000
EL            0.000000
EM            0.000000
EPL           0.000000
ESLOL         0.000000
EUM           0.000000
GL            0.000000
GLL           0.000000
HC            0.000000
HM            0.000000
IC            0.000000
LAS           0.000000
LCK           0.000000
LCKC          0.000000
LCL           0.000000
LCO           0.000000
LCS           0.000000
LCSA          0.000000
LDL           0.791667
LEC           0.000000
LFL           0.000000
LFL2          0.000000
LHE           0.000000
LIT           0.000000
LJL           0.000000
LJLA          0.000000
LLA           0.000000
LMF           0.000000
LPL           0.208333
LPLOL         0.000000
LRN           0.000000
LRS           0.000000
LVP SL        0.000000
MSI           0.000000
NACL          0.000000
NEXO          0.000000
NLC           0.000000
PCS           0.000000
PGC           0.000000
PGN           0.000000
PRM           0.000000
SL (LATAM)    0.000000
TAL           0.000000
TCL           0.000000
UL            0.000000
UPL           0.000000
VCS           0.000000
VL            0.000000
WLDs          0.000000
Name: patch_missing, dtype: float64

In [207]:
league['patch_missing'].sum()

240

### Permutation Test:

Is there a higher proportion of games with a Neeko in it after the Patch 13.9 rework?

Null: There is no difference in proportion of games with Neeko before and after the Patch 13.9 rework.


Alternative: There is a higher proportion of games with Neeko after the Patch 13.9 rework. 


Test Statistic: Difference in Proportion


Significance Level: 0.05


Result p-value:

In [262]:
# create a new df where each observation is a game (game id becomes unique)
rework = league.groupby('gameid').agg({'post_rework': 'first', 'neeko':'sum'})
rework

                    post_rework  neeko
gameid
10000-10000_game_1            0      0
10000-10000_game_2            0      0
10000-10000_game_3            0      0
10000-10000_game_4            0      0
10000-10000_game_5            0      0
...                         ...    ...
NA1_4493482900                0      0
NA1_4493540863                0      0
NA1_4493591166                0      0
NA1_4493652706                0      0
NA1_4493722220                0      0

[19775 rows x 2 columns]

In [263]:
# observed value is the proportion of games with neeko after - before the patch
obs = rework.groupby('post_rework').mean().diff().iloc[-1][0]
obs

0.1409457061646073

In [260]:
n_reps = 10_000
diffs = []

for _ in range(n_reps):
    
    # shuffle rework column 
    rework['shuffled_rework'] = np.random.permutation(rework['post_rework'])
    
    # compute test statistic 
    difference = rework.groupby('shuffled_rework').mean().diff().iloc[-1][0]
    
    diffs.append(difference)

diffs[:10]

[0.009599453189624352,
 -0.0030056446788713775,
 0.0027566857752980845,
 0.005817923829075589,
 -0.009668339266504788,
 0.000955957508370131,
 -0.014530305587210246,
 -0.005886809905956081,
 -0.009308193613119242,
 -0.00876797513304084]

In [261]:
# calculate p-value
(np.array(diffs) >= obs).mean()

0.0

### code that isn't important for this:

In [21]:
by_patch = players['patch'].value_counts().to_frame().reset_index().sort_values('index')
by_patch.head()

    index  patch
13  12.01   8020
7   12.02   9680
11  12.03   8770
2   12.04  13240
3   12.05  12450

In [63]:
by_patch[(by_patch['index'] < 13.09) & (by_patch['index'] >= 12.10)]['patch'].sum() / 10

11669.0

In [64]:
by_patch[by_patch['index'] > 13.09]['patch'].sum() / 10

7420.0

In [65]:
11669 - 7420.0

4249.0

In [6]:
for col in league.columns:
    print(col)

gameid
datacompleteness
url
league
year
split
playoffs
date
game
patch
participantid
side
position
playername
playerid
teamname
teamid
champion
ban1
ban2
ban3
ban4
ban5
pick1
pick2
pick3
pick4
pick5
gamelength
result
kills
deaths
assists
teamkills
teamdeaths
doublekills
triplekills
quadrakills
pentakills
firstblood
firstbloodkill
firstbloodassist
firstbloodvictim
team kpm
ckpm
firstdragon
dragons
opp_dragons
elementaldrakes
opp_elementaldrakes
infernals
mountains
clouds
oceans
chemtechs
hextechs
dragons (type unknown)
elders
opp_elders
firstherald
heralds
opp_heralds
void_grubs
opp_void_grubs
firstbaron
barons
opp_barons
firsttower
towers
opp_towers
firstmidtower
firsttothreetowers
turretplates
opp_turretplates
inhibitors
opp_inhibitors
damagetochampions
dpm
damageshare
damagetakenperminute
damagemitigatedperminute
wardsplaced
wpm
wardskilled
wcpm
controlwardsbought
visionscore
vspm
totalgold
earnedgold
earned gpm
earnedgoldshare
goldspent
gspd
gpr
total cs
minionkills
monsterkills
monsterkillsownjungle
monsterkillsenemyjungle
cspm
goldat10
xpat10
csat10
opp_goldat10
opp_xpat10
opp_csat10
golddiffat10
xpdiffat10
csdiffat10
killsat10
assistsat10
deathsat10
opp_killsat10
opp_assistsat10
opp_deathsat10
goldat15
xpat15
csat15
opp_goldat15
opp_xpat15
opp_csat15
golddiffat15
xpdiffat15
csdiffat15
killsat15
assistsat15
deathsat15
opp_killsat15
opp_assistsat15
opp_deathsat15

In [7]:
league[league['gameid'] == 'ESPORTSTMNT01_2690210']['participantid']

0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
10    100
11    200
Name: participantid, dtype: int64

# Prediction 

Predict whether Neeko's team wins the game based on her stats at 15 minutes and her position (ohe).

We will include 2021 data because Neeko doesn't change much between seasons.

Time of prediction is 15 min into the game

In [272]:
# include 2021 data 
full = pd.concat([league, leeg21])
neeko = full[full['champion']=='Neeko']
# get rid of partial
neeko = neeko[neeko['datacompleteness']=='complete']
neeko.head()

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15,patch_missing,post_rework,neeko
72965,ESPORTSTMNT02_2775085,complete,NaN,PGC,2022,NaN,0,2022-06-06 22:45:04,2.0,12.10,...,48.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
90643,ESPORTSTMNT03_2799811,complete,NaN,LVP SL,2022,Summer,0,2022-06-30 16:42:54,1.0,12.11,...,43.0,2.0,1.0,1.0,0.0,1.0,2.0,0.0,0.0,1.0
105820,ESPORTSTMNT03_2880551,complete,NaN,LCSA,2022,Summer,0,2022-07-20 19:30:56,1.0,12.13,...,9.0,0.0,3.0,2.0,2.0,1.0,3.0,0.0,0.0,1.0
105868,ESPORTSTMNT03_2880581,complete,NaN,LCSA,2022,Summer,0,2022-07-20 20:38:14,2.0,12.13,...,-4.0,0.0,1.0,3.0,0.0,5.0,0.0,0.0,0.0,1.0
107175,ESPORTSTMNT02_2914607,complete,NaN,PCS,2022,Summer,0,2022-07-22 08:53:05,1.0,12.12,...,-19.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,1.0

In [267]:
stats_15 = ['goldat15','xpat15','csat15','golddiffat15','xpdiffat15','csdiffat15','killsat15','assistsat15','deathsat15']
stats_15

['goldat15',
 'xpat15',
 'csat15',
 'golddiffat15',
 'xpdiffat15',
 'csdiffat15',
 'killsat15',
 'assistsat15',
 'deathsat15']

In [ ]:
# one hot encode her position
# include features in stats_15
# run either a decision tree or a logistic regression