In [314]:
import pandas as pd
import numpy as np
from pathlib import Path

import plotly.express as px
pd.options.plotting.backend = 'plotly'

# from dsc80_utils import * # Feel free to uncomment and use this.

fp1 = '../data/league_2023.csv'

fp2 = '../data/league_2022.csv'

fp3 = '../data/league_2024.csv'

league23 = pd.read_csv(fp1)
league23[league23['patch'] == 13.09]

league22 = pd.read_csv(fp2)

league24 = pd.read_csv(fp3)

league22

list(league.columns)

# neeko = league[league['champion'] == 'Neeko']

# neeko = neeko[neeko['patch'] == 13.9]


neeko['patch'].value_counts()

# neeko


league22[league22['champion'] == 'neeko']
league22['champion'] == 'neeko'


#hi joyce


league = pd.concat([league22, league23, league24])
league.shape
# neeko = league[league['champion'] == 'Neeko']
# neeko

# neeko[neeko['gameid'] == 'ESPORTSTMNT02_2557639']

/Users/elliekwang/miniforge3/envs/dsc80/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3508: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(309456, 131)

In [315]:
neeko = league[league['champion'] == 'Neeko']
neeko = neeko[neeko['datacompleteness'] != 'partial']
neeko

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
16027,ESPORTSTMNT02_2557639,complete,NaN,EL,2022,NaN,0,2022-02-09 00:31:28,1,12.02,...,126.0,381.0,97.0,3.0,1.0,3.0,0.0,2.0,0.0,1.0
21038,NA1_4217310447,complete,NaN,PGC,2022,NaN,0,2022-02-14 23:08:07,1,12.03,...,136.0,-919.0,336.0,-21.0,4.0,1.0,2.0,2.0,0.0,0.0
21192,NA1_4214959149,complete,NaN,PGC,2022,NaN,0,2022-02-14 23:24:23,1,12.03,...,98.0,2273.0,685.0,54.0,0.0,0.0,0.0,0.0,0.0,0.0
28598,ESPORTSTMNT01_2740451,complete,NaN,PGC,2022,NaN,0,2022-02-22 23:41:17,2,12.04,...,84.0,2069.0,713.0,28.0,4.0,9.0,1.0,2.0,2.0,5.0
33679,ESPORTSTMNT01_2743216,complete,NaN,EL,2022,NaN,0,2022-02-28 23:41:41,1,12.04,...,119.0,169.0,396.0,15.0,0.0,0.0,0.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33907,LOLTMNT04_31805,complete,NaN,LEC,2024,Spring,0,2024-03-18 16:08:19,1,14.05,...,142.0,-305.0,-770.0,-13.0,0.0,0.0,0.0,1.0,0.0,0.0
33919,LOLTMNT01_70626,complete,NaN,NEXO,2024,Split 2,1,2024-03-18 16:15:45,1,14.05,...,127.0,-474.0,-67.0,-16.0,1.0,0.0,2.0,2.0,2.0,1.0
33938,LOLTMNT01_71061,complete,NaN,NEXO,2024,Split 2,1,2024-03-18 17:14:52,2,14.05,...,144.0,-107.0,-460.0,-11.0,1.0,0.0,0.0,0.0,1.0,0.0
34201,LOLTMNT01_71470,complete,NaN,NEXO,2024,Split 2,0,2024-03-19 16:06:46,1,14.05,...,115.0,845.0,381.0,5.0,3.0,0.0,0.0,0.0,1.0,2.0
34526,LOLTMNT04_31872,complete,NaN,TCL,2024,Winter,1,2024-03-19 20:13:41,4,14.05,...,138.0,1278.0,-35.0,-13.0,4.0,3.0,0.0,0.0,0.0,2.0

In [316]:
len(league['gameid'].unique())

25788

In [317]:
#hypothesis test: was playing neeko after the patch random or is 
#there a significant difference what happened before and after the patch

Clearly state your null and alternative hypotheses, your choice of test statistic and significance level, the resulting 
p
-value, and your conclusion. Justify why these choices are good choices for answering the question you are trying to answer.



Question: Is there a higher proportion of games with a Neeko in it after the Patch 13.9 rework?

Null: There is no difference in proportion of games with Neeko before and after the Patch 13.9 rework.


Alternative: There is a higher proportion of games with Neeko after the Patch 13.9 rework. 


Test Statistic: Difference in Proportion, more specifically the proportion of games with Neeko after minus before the patch 13.9
- We chose difference in proportion because our data is categorical and directional.
- Our observed statistic: 0.1404526229251691

Significance Level: 0.05
- This is a standard hypothesis test. 


Result p-value: 0
- We ran 10,000 repetitions. 

Conclusion: As the p-value is 0, we reject the null hypothesis in favor of the alternative hypothesis, which is that there is a higher proportion of games with Neeko after the Patch 13.9 rework.

In [318]:
combined = league[league['patch'] >= 12.10]
na_values = league[pd.isna(league['patch'])]

league[league['patch'] == 13.24]


na_values
# league['patch'].value_counts()

# values_na

na_values['date'].unique()
# na_values
# league.shape

na_values
league['league'].unique()

na_values['league'].unique()

# for col in league.columns:
#     print(col)

any_na_values = league.isna().any()
any_na_index = any_na_values.index[any_na_values]

# for col in any_na_values:
#     print()
any_na_index

league['teamname'].isna().sum()

54

Permutation Test: patch vs. league

State whether you believe there is a column in your dataset that is NMAR. Explain your reasoning and any additional data you might want to obtain that could explain the missingness (thereby making it MAR). Make sure to explicitly use the term “NMAR.”

We do not belive that there is a column in our dataset that is NMAR. Based on our preliminary findings when looking at the "patch" column that has missing data, we believe that the column "league", which is composed of the different leagues played in the game, could explain the missingness since we found that there were only missing patches for two leagues out of the 56.

In [320]:
league_patch = league[['league', 'patch']]
league_patch['patch_missing'] = league_patch['patch'].isna()
league_patch

/var/folders/_l/f4zhrz9s7q356_sd74v3cqmm0000gn/T/ipykernel_7224/4260375598.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  league_patch['patch_missing'] = league_patch['patch'].isna()

       league  patch  patch_missing
0        LCKC  12.01          False
1        LCKC  12.01          False
2        LCKC  12.01          False
3        LCKC  12.01          False
4        LCKC  12.01          False
...       ...    ...            ...
34555  CBLOLA  14.05          False
34556  CBLOLA  14.05          False
34557  CBLOLA  14.05          False
34558  CBLOLA  14.05          False
34559  CBLOLA  14.05          False

[309456 rows x 3 columns]

In [321]:
# obs_tvd = league_patch['patch_missing'].value_counts(normalize = True)

obs_tvd = league_patch.groupby('league')['patch_missing'].sum() / 288
# .sum().apply(lambda s: s / s.sum(), axis = 1).diff().iloc[-1].abs().sum()/2
obs_tvd
# league_patch['league'].nunique()

league
AL            0.000000
CBLOL         0.000000
CBLOLA        0.000000
CDF           0.000000
CT            0.000000
DCup          0.000000
DDH           0.000000
EBL           0.000000
EL            0.000000
EM            0.000000
EPL           0.000000
ESLOL         0.000000
EUM           0.000000
GL            0.000000
GLL           0.000000
HC            0.000000
HM            0.000000
IC            0.000000
LAS           0.000000
LCK           0.000000
LCKC          0.000000
LCL           0.000000
LCO           0.000000
LCS           0.000000
LCSA          0.000000
LDL           0.791667
LEC           0.000000
LFL           0.000000
LFL2          0.000000
LHE           0.000000
LIT           0.000000
LJL           0.000000
LJLA          0.000000
LLA           0.000000
LMF           0.000000
LPL           0.208333
LPLOL         0.000000
LRN           0.000000
LRS           0.000000
LVP SL        0.000000
MSI           0.000000
NACL          0.000000
NEXO          0.000000
NLC           0.000000
PCS           0.000000
PGC           0.000000
PGN           0.000000
PRM           0.000000
SL (LATAM)    0.000000
TAL           0.000000
TCL           0.000000
UL            0.000000
UPL           0.000000
VCS           0.000000
VL            0.000000
WLDs          0.000000
Name: patch_missing, dtype: float64

In [322]:
0.009205 + 0.002744

0.011949

In [323]:
288 + 56

344

In [324]:
1/56 #uniform distribution

0.017857142857142856

In [325]:
0.017857142857142856 * 56

1.0

In [326]:
228+ 60

288

In [327]:
228/344

0.6627906976744186

In [328]:
60/

SyntaxError: invalid syntax (3090718430.py, line 1)

In [329]:
def calc_tvd(data):
#     return (data
#            .groupby('patch_missing')
#            .sum()
#            .apply(lambda s: s / s.sum(), axis = 1)
#            .diff()
#            .iloc[-1]
#            .abs()
#            .sum() / 2
#            )
    return data.diff(axis = 1).iloc[: -1].abs().sum() / 2

n_reps = 500
shuffled = league_patch.copy()

tvds = []
# for _ in range(n_reps):
    
    
#     # Shuffle the leagues and store them in DataFrame
#     shuffled['patch_missing']= np.random.permutation(shuffled['patch_missing'])

    
#     # Compute and store TVD
#     tvds.append(tvd(shuffled))

obs_tvd = calc_tvd(shuffled)

    
    
print(obs_tvd)

TypeError: unsupported operand type(s) for -: 'float' and 'str'

In [330]:
obs_tvd =

SyntaxError: invalid syntax (2958907051.py, line 1)

In [331]:
league22['patch'].unique()
#12

array([12.01, 12.02, 12.03, 12.04, 12.05, 12.06, 12.07, 12.08, 12.09,
       12.1 , 12.11, 12.12, 12.13, 12.14, 12.15,   nan, 12.16, 12.17,
       12.18, 12.19, 12.2 , 12.21, 12.23])

In [332]:
league23['patch'].unique()
#7 before 13.09

# 14

array([13.01, 13.03, 13.04, 13.05, 13.06,   nan, 13.07, 13.08, 13.09,
       13.1 , 13.11, 13.12, 13.13, 13.14, 13.15, 13.16, 13.17, 13.18,
       13.19, 13.2 , 13.21, 13.22, 13.24])

In [333]:
league24['patch'].unique()
# 6

array([13.24, 14.01, 14.02, 14.03,   nan, 14.04, 14.05])

### Step 5: Framing a Prediction Problem

**Predict whether Neeko's team wins the game based on her stats at 15 minutes and her position.** We will include data from 2021 since Neeko does not change much between seasons. The time of prediction is 15 minutes into the game. 

For our predicition problem, we are performing binary classification. Our response variable is the `result` column, where the values represent whether Neeko's team won the game or not. We chose this variable because it is a interpretatble measure of success (win or loss) and aligns well with our objective of prediciting the game outcomes. 

The metric we chose for evaluating the model's performance is accuracy. Since we are performing binary classification, accuracy is a meaningful representation of overall correctness of the model's prediction, as it represents the proportion of correctly predicted outcomes.

### Step 6: Baseline Model

**Here is a list with explanations of the columns we will be looking at for our model:**

`goldat15`: Total amount of gold accumulated by Neeko at 15 minutes.

`xpat15`: Total amount of experience points earned by Neeko at 15 minutes. 

`csat15`: Total number of minion kills by Neeko's **team** at 15 minutes. 

`golddiffat15`: Difference in gold between Neeko and the opposing team at 15 minutes. An indicator of whether Neeko is ahead (hence a positive value) or behind (negative).

`xpdiffat15`: Difference in experience points between Neeko and the opposing team at 15 minutes. 

`csdiffat15`: Difference in minion kills between Neeko and the opposing team at 15 minutes. 

`killsat15`: Total number of enemy champions killed by Neeko at 15 minutes. 

`assistsat15`:	Total number of assists obtained by Neeko at 15 minutes. 

`deathsat15`: Total number of deaths of Neeko at 15 minutes. 



According to Oracle's Elixer, these values are averages.

In [348]:
# one hot encode her position
# include features in stats_15
# run either a decision tree or a logistic regression

In [365]:
import pandas as pd
import numpy as np
from pathlib import Path
import plotly.express as px

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [366]:
# neeko

In [393]:
fp4 = '../data/league_2021.csv'

league21 = pd.read_csv(fp4)

league = pd.concat([league, league21])

In [396]:
neeko = league[league['champion'] == 'Neeko']
neeko = neeko[neeko['datacompleteness'] == 'complete']
for col in neeko.columns:
    print(col)

stats_15



# goldat15
# xpat15
# # csat15 - avg
# # opp_goldat15
# # opp_xpat15
# # opp_csat15
# golddiffat15
# xpdiffat15
# csdiffat15
# killsat15
# assistsat15
# deathsat15
# # opp_killsat15
# # opp_assistsat15
# # opp_deathsat15

gameid
datacompleteness
url
league
year
split
playoffs
date
game
patch
participantid
side
position
playername
playerid
teamname
teamid
champion
ban1
ban2
ban3
ban4
ban5
pick1
pick2
pick3
pick4
pick5
gamelength
result
kills
deaths
assists
teamkills
teamdeaths
doublekills
triplekills
quadrakills
pentakills
firstblood
firstbloodkill
firstbloodassist
firstbloodvictim
team kpm
ckpm
firstdragon
dragons
opp_dragons
elementaldrakes
opp_elementaldrakes
infernals
mountains
clouds
oceans
chemtechs
hextechs
dragons (type unknown)
elders
opp_elders
firstherald
heralds
opp_heralds
void_grubs
opp_void_grubs
firstbaron
barons
opp_barons
firsttower
towers
opp_towers
firstmidtower
firsttothreetowers
turretplates
opp_turretplates
inhibitors
opp_inhibitors
damagetochampions
dpm
damageshare
damagetakenperminute
damagemitigatedperminute
wardsplaced
wpm
wardskilled
wcpm
controlwardsbought
visionscore
vspm
totalgold
earnedgold
earned gpm
earnedgoldshare
goldspent
gspd
gpr
total cs
minionkills
monsterkills
monsterkillsownjungle
monsterkillsenemyjungle
cspm
goldat10
xpat10
csat10
opp_goldat10
opp_xpat10
opp_csat10
golddiffat10
xpdiffat10
csdiffat10
killsat10
assistsat10
deathsat10
opp_killsat10
opp_assistsat10
opp_deathsat10
goldat15
xpat15
csat15
opp_goldat15
opp_xpat15
opp_csat15
golddiffat15
xpdiffat15
csdiffat15
killsat15
assistsat15
deathsat15
opp_killsat15
opp_assistsat15
opp_deathsat15

['goldat15',
 'xpat15',
 'csat15',
 'golddiffat15',
 'xpdiffat15',
 'csdiffat15',
 'killsat15',
 'assistsat15',
 'deathsat15']

In [399]:
neeko['csat15']

16027    129.0
21038    115.0
21192    152.0
28598    112.0
33679    134.0
         ...
60410    148.0
60715    112.0
68935    118.0
69182    140.0
70903    149.0
Name: csat15, Length: 1019, dtype: float64

In [400]:
# one hot encode her position


def one_hot(ser):
    features = pd.DataFrame()
    for val in ser.unique():
        features['one_hot_%s_%s' % (ser.name, val)] = (ser == val).astype(int)
        
    return features

def create_one_hot(df):
    # Assuming 'position' is the column you want to one-hot encode
    df_encoded = pd.concat([df, one_hot(df['position'])], axis=1)
    df_encoded.drop(columns=['position'], inplace=True)
    return df_encoded
    
    
create_one_hot(neeko)

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15,one_hot_position_mid,one_hot_position_top,one_hot_position_bot,one_hot_position_sup,one_hot_position_jng
16027,ESPORTSTMNT02_2557639,complete,NaN,EL,2022,NaN,0,2022-02-09 00:31:28,1.0,12.02,...,3.0,0.0,2.0,0.0,1.0,1,0,0,0,0
21038,NA1_4217310447,complete,NaN,PGC,2022,NaN,0,2022-02-14 23:08:07,1.0,12.03,...,1.0,2.0,2.0,0.0,0.0,1,0,0,0,0
21192,NA1_4214959149,complete,NaN,PGC,2022,NaN,0,2022-02-14 23:24:23,1.0,12.03,...,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0
28598,ESPORTSTMNT01_2740451,complete,NaN,PGC,2022,NaN,0,2022-02-22 23:41:17,2.0,12.04,...,9.0,1.0,2.0,2.0,5.0,1,0,0,0,0
33679,ESPORTSTMNT01_2743216,complete,NaN,EL,2022,NaN,0,2022-02-28 23:41:41,1.0,12.04,...,0.0,0.0,0.0,2.0,0.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60410,ESPORTSTMNT03/1825550,complete,http://matchhistory.na.leagueoflegends.com/en/...,LCSA,2021,Spring,1,2021-04-09 01:48:10,2.0,11.06,...,0.0,0.0,0.0,2.0,0.0,1,0,0,0,0
60715,NA1/3859085355,complete,https://matchhistory.na.leagueoflegends.com/en...,UPL,2021,Spring,0,2021-04-10 00:47:24,2.0,11.07,...,1.0,3.0,3.0,2.0,1.0,1,0,0,0,0
68935,ESPORTSTMNT01/2002464,complete,https://matchhistory.na.leagueoflegends.com/en...,LMF,2021,NaN,0,2021-05-21 20:45:39,1.0,11.10,...,0.0,1.0,4.0,2.0,2.0,1,0,0,0,0
69182,NA1/3916799284,complete,https://matchhistory.na.leagueoflegends.com/en...,CU,2021,NaN,0,2021-05-24 21:44:59,1.0,11.10,...,0.0,1.0,2.0,1.0,1.0,1,0,0,0,0
70903,NA1/3927500028,complete,https://matchhistory.na.leagueoflegends.com/en...,CU,2021,NaN,0,2021-05-31 21:53:05,1.0,11.11,...,0.0,0.0,1.0,0.0,0.0,1,0,0,0,0

In [370]:
# Create a dataframe that has all the information we want for this prediction problem

stats_15 = ['goldat15','xpat15','csat15','golddiffat15','xpdiffat15','csdiffat15','killsat15','assistsat15','deathsat15']
stats_15

neeko_pred = neeko.loc[:, stats_15]
neeko_pred['position'] = neeko['position']
neeko_pred['result'] = neeko['result']
neeko_pred = create_one_hot(neeko_pred)
neeko_pred.shape[1]

15

### Feature Engineering:

**Creating Ratios:** 

- Gold Efficiency: Calculating the ratio of gold earned (`goldat15`) to the number of minion kills (`csat15`) could provide insight to how the efficieny of gold farming would influence the result of the match.

**Difference Features**
- Since the columns regarding differences between gold (`golddiffat15`), experience(`xpdiffat15`), or minion kills (`csdiffat15`) hold positive and negative values, we can transform these columns into binary features since we know that positive values mean that Neeko has an advantage compared to the opposing team, and likewise negative values suggest a disadvantage.


`goldat15`:

In [376]:
# include features in stats_15
neeko_pred


# Creating ratio features

# neeko_pred['goldat15'].value_counts(normalize = True)

def binarize_col(df, cols):
    for col in cols:
#         new_col_name = f'binarized_{col}'
        df[col] = (df[col] > 0).astype(int)
        
#     df.drop(columns = cols, inplace = True)
    return df

baseline_neeko = binarize_col(neeko_pred, ['golddiffat15', 'xpdiffat15','csdiffat15'])
baseline_neeko

,goldat15,xpat15,csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,result,one_hot_position_bot,one_hot_position_top,one_hot_position_mid,one_hot_position_sup,one_hot_position_jng
1095,6333.0,6007.0,112.0,1,1,1,5.0,2.0,1.0,0,1,0,0,0,0
4899,6901.0,5423.0,117.0,1,1,1,3.0,2.0,2.0,1,1,0,0,0,0
5237,4951.0,6681.0,114.0,0,0,0,0.0,2.0,1.0,1,0,1,0,0,0
6679,6128.0,7452.0,136.0,1,0,1,2.0,0.0,1.0,1,0,0,1,0,0
9811,5217.0,6554.0,103.0,1,0,0,3.0,0.0,1.0,1,0,0,1,0,0
12657,4251.0,4099.0,8.0,1,1,0,1.0,3.0,0.0,1,0,0,0,1,0
14347,5857.0,7919.0,128.0,1,1,0,3.0,2.0,0.0,1,0,0,1,0,0
15969,4181.0,4005.0,10.0,0,1,0,2.0,3.0,4.0,0,0,0,0,1,0
19850,5614.0,7150.0,142.0,0,1,1,1.0,2.0,1.0,0,0,0,1,0,0
21283,5731.0,6569.0,114.0,1,0,1,4.0,2.0,1.0,1,0,0,1,0,0
22010,5643.0,7687.0,150.0,0,1,1,0.0,2.0,1.0,0,0,0,1,0,0
22507,4906.0,7023.0,134.0,0,1,1,0.0,0.0,3.0,1,0,0,1,0,0
24641,6920.0,7912.0,148.0,1,1,1,1.0,0.0,1.0,0,0,1,0,0,0
25973,6549.0,7468.0,133.0,1,0,1,1.0,0.0,0.0,1,0,1,0,0,0
26138,5721.0,7694.0,157.0,1,1,1,0.0,1.0,0.0,0,0,0,1,0,0
28008,4254.0,6703.0,84.0,0,0,0,0.0,2.0,1.0,0,0,1,0,0,0
28457,5344.0,7412.0,126.0,1,0,1,0.0,2.0,0.0,0,0,1,0,0,0
31350,4763.0,4984.0,86.0,0,0,0,1.0,3.0,2.0,0,0,0,0,0,1
31406,5867.0,6809.0,125.0,0,0,0,2.0,1.0,2.0,0,0,0,1,0,0
31853,4599.0,6997.0,125.0,0,0,0,0.0,0.0,0.0,1,0,1,0,0,0
33508,4108.0,4428.0,10.0,1,1,0,2.0,1.0,0.0,1,0,0,0,1,0
33854,4772.0,6568.0,111.0,0,0,0,1.0,2.0,3.0,1,0,0,1,0,0
35045,6139.0,7216.0,130.0,1,1,1,0.0,1.0,0.0,1,0,1,0,0,0
35116,3997.0,3645.0,13.0,0,0,0,0.0,0.0,0.0,1,0,0,0,1,0
39710,5541.0,6990.0,129.0,1,1,1,0.0,4.0,1.0,1,0,0,1,0,0
40166,4904.0,6216.0,119.0,0,0,0,1.0,2.0,2.0,0,0,0,1,0,0
41280,6561.0,7357.0,123.0,1,1,1,3.0,4.0,1.0,0,0,1,0,0,0
41570,4948.0,6924.0,132.0,0,0,0,0.0,0.0,0.0,1,0,0,1,0,0
43479,5067.0,5307.0,123.0,0,0,0,1.0,0.0,1.0,0,1,0,0,0,0
45002,4899.0,5697.0,125.0,1,0,0,1.0,1.0,1.0,1,0,0,1,0,0
45482,5007.0,6948.0,115.0,0,1,0,0.0,3.0,0.0,0,0,0,1,0,0
46731,5130.0,5695.0,137.0,0,1,1,0.0,0.0,0.0,0,1,0,0,0,0
46743,5130.0,5695.0,137.0,0,1,1,0.0,0.0,0.0,0,1,0,0,0,0
47009,6112.0,7698.0,144.0,1,1,1,0.0,1.0,0.0,1,0,1,0,0,0
47523,4809.0,5734.0,132.0,0,0,0,0.0,0.0,1.0,0,1,0,0,0,0
47990,5131.0,7250.0,119.0,0,0,1,1.0,0.0,1.0,0,0,1,0,0,0
51207,6635.0,5959.0,123.0,1,1,1,4.0,4.0,1.0,1,1,0,0,0,0
51489,5220.0,4989.0,3.0,1,1,0,2.0,3.0,1.0,1,0,0,0,1,0
51854,5597.0,7332.0,127.0,0,1,1,1.0,2.0,4.0,1,0,0,1,0,0
51869,4966.0,7164.0,138.0,0,0,1,0.0,0.0,1.0,0,0,1,0,0,0
53625,3450.0,3174.0,2.0,0,0,0,1.0,2.0,4.0,0,0,0,0,1,0
53661,4164.0,3846.0,11.0,1,1,0,2.0,2.0,3.0,0,0,0,0,1,0
56275,6184.0,7713.0,147.0,1,1,1,1.0,1.0,1.0,1,0,0,1,0,0
56311,5484.0,6863.0,124.0,1,1,1,2.0,3.0,1.0,0,0,0,1,0,0
56402,5510.0,8240.0,141.0,1,1,1,0.0,2.0,1.0,0,0,0,1,0,0
57256,3626.0,3453.0,3.0,1,1,0,0.0,0.0,0.0,0,0,0,0,1,0
60209,5202.0,7013.0,127.0,1,0,1,0.0,0.0,1.0,0,0,1,0,0,0
60410,5712.0,7933.0,148.0,1,1,1,1.0,0.0,0.0,0,0,0,1,0,0
60715,5591.0,7161.0,112.0,0,0,0,2.0,1.0,3.0,0,0,0,1,0,0
68935,4993.0,6751.0,118.0,0,0,1,1.0,0.0,1.0,0,0,0,1,0,0
69182,5233.0,7486.0,140.0,0,1,1,1.0,0.0,1.0,0,0,0,1,0,0
70903,5189.0,7829.0,149.0,0,1,0,0.0,0.0,0.0,0,0,0,1,0,0

### Baseline Model

The model we created

In [390]:
#

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Assuming df is your DataFrame containing the data
# Selecting features and target variable
features = neeko_pred[['golddiffat15', 'xpdiffat15', 'csdiffat15',
               'one_hot_position_bot', 'one_hot_position_top', 'one_hot_position_mid', 
               'one_hot_position_sup', 'one_hot_position_jng']]
target = neeko_pred['result']  # Assuming 'result' is the column indicating the game result

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.5, random_state=42)

# Initializing and training the Logistic Regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Making predictions on the testing data
predictions = model.predict(X_test)

# Evaluating the model
accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", accuracy)

Accuracy: 0.6923076923076923